.notification {
    position: fixed;
    width: 500px;
    height: 400px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1e00ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    animation: slideIn 0.5s ease forwards, fadeOut 1s 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-100%);
    }

    to {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}