<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>超商</title>
  <link rel="stylesheet" href="../../css/logIn.css">

</head>

<body>
  <div class="logInTable">
    <table>
      <tr>
        <td class="font-right">
          email/username:
        </td>
        <td>
          <input type="text">
        </td>
      </tr>
      <tr>
        <td class="font-right">
          password:
        </td>
        <td>
          <input type="password">
        </td>
      </tr>
      <tr>
        <td colspan="2" class="font-center">
          <input type="submit" class="logInSumbit" value="log in">
        </td>
      </tr>
    </table>
  </div>

</body>

</html>