/* AdminDashboard.css */
.admin-dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    flex-direction: column;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    border: 1px solid #444;
    border-radius: 5px;
  }
  
  .tab:hover {
    background-color: #777;
  }
  
  .tab.active {
    background-color: #4CAF50;
  }
  