/* .admin-dashboard {
    display: flex;
    height: 100vh;
  } */
  
  /* .main-content {
    flex: 1;
    padding: 20px;
    margin-left: 220px; 
    overflow-y: auto;
  }  */
  


 .admin-product-list {
    display: flex;
    flex-wrap: wrap;
  } 
  
  /* Add a new class for the container */
.product-info-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
  }
  
  
  .admin-product-item {
    background-color: #e2e2e2;
    cursor: pointer;
    padding: 10px;
    width: calc(100% - 20px);
    transition: transform 0.3s;
  }
  
  