/* Common styles for all screen sizes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.nav-bar {
    background-color: #8ADBFE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    gap: 2rem;
    padding: 0 1rem;
}

.nav-bar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;   
}

.logo_icon img {
    width: 40px;
    height: 40px;
}


.logo_icon {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
} 

 .search_pkg {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 8px;
} 

.search_pkg input{
    background-color: none;
}

.search_button {
    align-items: center;
    position: relative;
    left: -100px;
    margin-bottom: -10px;
    padding: 10px 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search_button:hover {
    background-color: #b007ff;
    color: #fff;
}

.menu{
    cursor: pointer;
}

.menu li > ul {
    display:none;
    transition: all .4s ease-in-out;
    position: absolute; /* Add absolute positioning for dropdown */
    top: 100%; /* Position the dropdown below the parent li */
    left: 0;
    background-color: #fff;
}

.menu li:hover > ul {
    display:block;
}

.cat_text{
    font-weight: 800;
    position: relative;
    left: 0px;
    bottom: 4px;
    align-items: center;   
}

.expand_more{
    position: relative;
    bottom: -6px;
    align-items: center;   
}

.nav_links{
    font-weight: 300;
    position: relative;
    left: -50px;
    cursor: pointer;
}


.nav_links li{
  margin-right: 20px;
}


.icon{
    justify-content: space-between;
    float: right;
}

.icon span {
    cursor: pointer;
    margin-right: 30px; /* Adjust the right margin to increase space between spans */
}

.material-symbols-outlined.expand_more {
    transition: transform 0.3s; 
}

.material-symbols-outlined.expand_more.rotate-180 {
    transform: rotate(180deg); 
}




