.logInTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

td {
  font-size: 20px;
}

.font-center {
  text-align: center;
}

.font-right {
  text-align: right;
}

.logInSumbit {
  font-size: 20px;
  background-color: #a2c3e7;
}