.search-container{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 2rem;
    width: 500px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    margin-left: 5px;
}

input:focus{
    outline: none;
}

