.button{
    width: 21%;
    display: flex; /* 添加 flex 属性 */
    flex-direction: column; /* 将子元素垂直排列 */
    align-items: center;
    margin: 2%
}

.image{
    width: 100%;
    border-radius: 8px;
}

.name{
    font-size: 130%;
    font-weight: bold;
    margin: 0;
}