.button {
    width: 8cm;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5cm;
    border: 1px solid #bbbbbb;
    border-radius: 8px;
}

.button:hover {
    width: 8.5cm;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25cm;

}

.image {
    width: 90%;
    border-radius: 8px;
    margin: 2%;
}


.textInfo {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
}

.mainName {
    font-size: 110%;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
}

.mainPrice {
    font-size: 111%;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10%;
}

.discription {
    font-size: 111%;
    color: #585858;
    margin-bottom: 2%;
}

.id {
    margin-top: auto;
    margin-bottom: 3%;
}