.signup {
  position: absolute;
  top: 25%;
  left: 50%;
  margin: 0 -400px;
  width: 800px;
  border: 1px solid #ccc;
}

.signup h1 {
  text-align: center;
  font-weight: normal;
  margin: 0;
  margin-top: 0.67em;
}

.signup p {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-top: 0;
  margin-bottom: 2em;
}

.signup a:hover {
  color: #000000;
}

.signup label {
  margin: 0 10%;
  text-align: center;
}

.signup input {
  width: 75%;
  margin: 5px 10%;
  display: grid;
  grid-gap: 10px;
  border: 1px solid #000000;
  font-size: 20px;
}

input[type="text"] {
  padding: 0;
}

.signup button {
  width: 50%;
  margin: 5px 25%;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
}


